<!-- MAIN -->
    <div id="main" class="section section-border">
         <!-- Gallery section -->
         <div class="container container-single container-gallery boxed clearfix">
            <div id="page-title" class="grid-12">
                <h1>设备介绍</h1>
                <p>高端设备</p>
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
            
           
            
            <div class="gallery-container gallery-2">
                <div class="grid-6 gallery-item gallery-item-first shadow-box" data-filter="web-design">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content1" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/1.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="web-design">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content2" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/2.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="clear"></div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="branding">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content3" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/3.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="web-design">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content4" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/4.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="clear"></div>
                
                <div class="grid-6 gallery-item gallery-item-first shadow-box" data-filter="landing-pages">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content5" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/1.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="web-design">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content6" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/2.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="clear"></div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="branding">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content7" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/3.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="landing-pages">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content8" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/4.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="clear"></div>
                
                <div class="grid-6 gallery-item gallery-item-first shadow-box" data-filter="landing-pages">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content9" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/1.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="branding">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content10" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/2.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="clear"></div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="web-design">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content11" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/3.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="grid-6 gallery-item shadow-box" data-filter="landing-pages">
                    
                    <div class="gallery-img">
                        <a class="dm3-gallery-trigger" data-content="#content12" data-gallery="gallery1" href="#"><img src="/assets/content/portfolio/420_260/4.jpg" width="220" alt="" /></a>
                    </div>
                    
                    <div class="gallery-title">
                        <a href="#">Lorem ipsum dolor <span class="point-right">&raquo;</span></a>
                    </div>
                    
                    <div class="gallery-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    
                    <div class="shadow"></div>
                    
                </div>
                
                <div class="clear"></div>
            </div> <!-- .gallery-container -->
            
            <div class="pager grid-12">
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
            </div>
        </div> <!-- .container -->
        
        <div class="section-shadow"></div>
        <div class="section-border"></div>
    </div> <!-- .section -->