<!-- MAIN -->
    <div id="main" class="section section-border">
        <!-- Blog section -->
        <div class="container container-single boxed clearfix">
          <!-- Page title -->
          <div id="page-title" class="grid-12">
             <h1>检测中心</h1>
             <p>国际一流的专业实验室</p>
             <div class="clear"></div>
          </div>
           
          <!-- Blog posts -->
          <div class="grid-12 main-content">
             <!-- Blog post -->
             <div class="entry first">
                
                <div class="entry-img entry-img-wide">
                    <img src="/assets/content/610_260/1.jpg" alt="" />
                </div>
                
                <h2 class="entry-title"><a href="#">Eiusmod tempor incididunt ut labore et dolore</a></h2>
                
               
                
                <div class="entry-description">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                
               
                
             </div>
             
             <!-- Blog post -->
             <div class="entry">
                
                <div class="entry-img entry-img-wide">
                    <img src="/assets/content/610_260/2.jpg" alt="" />
                </div>
                
                <h2 class="entry-title"><a href="#">Eiusmod tempor incididunt ut labore et dolore</a></h2>
                
                
                <div class="entry-description">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                
               
                
             </div>
             
             <!-- Blog post -->
             <div class="entry">
                
                <div class="entry-img entry-img-wide">
                    <img src="/assets/content/610_260/3.jpg" alt="" />
                </div>
                
                <h2 class="entry-title"><a href="#">Eiusmod tempor incididunt ut labore et dolore</a></h2>
                
               
                
                <div class="entry-description">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                
               
             </div>
             
             <!-- Blog post -->
             <div class="entry">
                
                <div class="entry-img entry-img-wide">
                    <img src="/assets/content/610_260/1.jpg" alt="" />
                </div>
                
                <h2 class="entry-title"><a href="#">Eiusmod tempor incididunt ut labore et dolore</a></h2>
                
               
                
                <div class="entry-description">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                
              
                
             </div>
             
             <!-- Blog post -->
             <div class="entry">
                
                <div class="entry-img entry-img-wide">
                    <img src="/assets/content/610_260/2.jpg" alt="" />
                </div>
                
                <h2 class="entry-title"><a href="#">Eiusmod tempor incididunt ut labore et dolore</a></h2>
                
               
                
                <div class="entry-description">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                
                
             </div>
             
             <!-- Blog post -->
             <div class="entry">
                
                <div class="entry-img entry-img-wide">
                    <img src="/assets/content/610_260/3.jpg" alt="" />
                </div>
                
                <h2 class="entry-title"><a href="#">Eiusmod tempor incididunt ut labore et dolore</a></h2>
                
               
                
                <div class="entry-description">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                
               
                
             </div>
             
             <div class="pager">
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
             </div>
          </div>
          
          
       </div> <!-- .container -->
       
       <div class="section-shadow"></div>
       <div class="section-border"></div>
    </div> <!-- .section -->