<!-- MAIN -->
    <div id="main" class="section section-border">
        <!-- Gallery section -->
        <div class="container container-single boxed clearfix">
            <div class="grid-12" id="page-title">
                <h1>联系我们</h1>
                <p>期待您的咨询</p>
                <div class="clear"></div>
            </div>
            
            
            <!-- Page content -->
            <div class="grid-8 main-content">
                <p>
                    At vero eos et accusamus et iusto odio <a href="#">dignissimos ducimus</a> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
                
                <form class="form" />
                    <div class="form-element">
                        <label>姓名 <span class="required">*</span></label>
                        
                        <div class="form-field">
                            <div class="form-field-wrap">
                                <input type="text" name="username" />
                            </div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="form-element">
                        <label>电话 <span class="required">*</span></label>
                        
                        <div class="form-field">
                            <div class="form-field-wrap">
                                <input type="text" name="phone" />
                            </div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="form-element">
                        <label>邮箱 <span class="required">*</span></label>
                        
                        <div class="form-field">
                            <div class="form-field-wrap">
                                <input type="text" name="email" />
                            </div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    <div class="form-element">
                        <label>内容</label>
                        
                        <div class="form-field">
                            <div class="form-field-wrap form-textarea-wrap">
                                <textarea name="content" rows="10"></textarea>
                            </div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="form-options">
                        <button class="btn btn-primary btn-icon" type="submit">提交 <span><i>&raquo;</i></span></button>
                        <button class="btn" type="reset">重置</button>
                    </div>
                </form>
            </div>
            
            
            <!-- Page sidebar -->
            <div class="grid-4 sidebar">
                <div class="sidebar-inner">
                    <!-- Text widget -->
                    <div class="widget first">
                        <h4 class="widget-title site-title">怎么找到我们</h4><div class="underline"></div>
                        
                        <p>
                            	青岛即发颐和有限公司
                        </p>
                        
                        <address>
                            <strong>联系方式</strong><br />
                            	电话：+86 532 87569666 
     								 +86 532 87569888<br />
                            	传真：+86 532 87569889<br />
                            	邮箱: <a href="mailto:us@example.org">jifa@chinajifa.com</a><br />
                            	地址：中国山东省即墨市黄河二路
                        </address>
                        
                        <div id="google_map" data-longitude="120.42616300284863" data-latitude="36.40528508039787" data-title="青岛即发颐和有限公司" style="width: 280px; height: 280px;"></div>
                    </div>
                    
                    <!-- Menu widget -->
                    <div class="widget">
                        <h4 class="widget-title site-title">合作伙伴</h4><div class="underline"></div>
                        
                        <ul class="nav-v">
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Adispisicing</a></li>
                            <li><a href="#">Consectetur</a></li>
                            <li><a href="#">Elite</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                        </ul>
                    </div>
                </div> <!-- end .sidebar-inner -->
            </div> <!-- end .sidebar -->
        </div> <!-- .container -->
        
        <div class="section-shadow"></div>
        <div class="section-border"></div>
    </div> <!-- .section -->
<script type="text/javascript" src="/assets/front/jquery.min.js"></script>    
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<script>
	var google_map_div = $("#google_map");
	
	var lat = google_map_div.data('latitude');
	var lon = google_map_div.data('longitude');
	var title = google_map_div.data('title');
	
	var latlng = new google.maps.LatLng(lat, lon);
	var myOptions = {
	    zoom: 12,
	    center: latlng,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("google_map"), myOptions);
	var companyPos = new google.maps.LatLng(lat, lon);
	var markerImage = new google.maps.MarkerImage('http://www.google.cn/mapfiles/marker.png',
	    new google.maps.Size(132,41),
	    new google.maps.Point(0,0),
	    new google.maps.Point(50,50)
	);
	var companyMarker = new google.maps.Marker({
	    position: companyPos,
	    map: map,
	    icon: markerImage,
	    title: title
	});
</script>
