 <!-- MAIN -->
    <div id="main" class="section section-border">
        <!-- Blog section -->
        <div class="container container-single boxed clearfix">
          <!-- Page title -->
          <div id="page-title" class="grid-12">
             <h1>About Us</h1>
             <p>We Improve the World!</p>
             <div class="clear"></div>
          </div>
           
          <!-- About us -->
          <div class="grid-8 main-content">
             <div class="entry first">
                
                <ul class="tabs-nav">
                    <li class="active"><a href="http://dm3studio.com/themes/dm3theme2/about.html">Overview</a></li>
                    <li><a href="#">Our People</a></li>
                    <li><a href="#">Our Values</a></li>
                    <li><a href="#">History</a></li>
                </ul>
                
                <div class="one-half first highlight-1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                
                <div class="one-half">
                    <div class="media-wrapper">
                        <!-- r-slider -->
                        <div class="r-slider" data-prevnext="no">
                            <div class="r-slider-inner">
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/1.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/2.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/3.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="separator-1"></div>
                
                <h3>Consectetur adipisicing elit</h3>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                
                <div class="separator-1"></div>
                
                <h3>Natus error sit voluptatem</h3>
                
                <div class="one-half first">
                    <div class="media-wrapper">
                        <!-- r-slider -->
                        <div class="r-slider" data-prevnext="no">
                            <div class="r-slider-inner">
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/1.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/2.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/3.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="one-half">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
                
                <div class="separator-1"></div>
                
                <h3>We are featured:</h3>

                <div class="one-third first">
                    <div class="media-wrapper media-responsive">
                        <img class="media" src="/assets/content/portfolio/420_260/1.jpg" alt="" />
                    </div>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        <a class="btn btn-icon" href="#">Read more <span><i>&raquo;</i></span></a>
                    </p>
                </div>
                
                <div class="one-third">
                    <div class="media-wrapper media-responsive">
                        <img class="media" src="/assets/content/portfolio/420_260/2.jpg" alt="" />
                    </div>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                    </p>
                    <p>
                        <a class="btn btn-icon" href="#">Read more <span><i>&raquo;</i></span></a>
                    </p>
                </div>
                
                <div class="one-third">
                    <div class="media-wrapper media-responsive">
                        <img class="media" src="/assets/content/portfolio/420_260/3.jpg" alt="" />
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                    <p>
                        <a class="btn btn-icon" href="#">Read more <span><i>&raquo;</i></span></a>
                    </p>
                </div>
                
                <div class="clear"></div>
             </div>
          </div>
          
          <!-- Sidebar -->
          <div class="grid-4 sidebar">
             <div class="sidebar-inner">
                <!-- Testimonials widget -->
                <div class="widget first">
                    <h4 class="widget-title site-title">Testimonials</h4><div class="underline"></div>
                    
                    <div class="testimonials tabs">
                       <!-- testimonial 1 -->
                       <div class="tab">
                          <p>
                             Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
                          </p>
                          
                          <div class="author">
                             <span class="author-name">Customer One</span>
                             <span class="company-name">Company One</span>
                          </div>
                       </div>
                       
                       <!-- testimonial 2 -->
                       <div class="tab">
                          <p>
                             Donec a odio massa, eget malesuada libero!
                          </p>
                          
                          <div class="author">
                             <span class="author-name">Customer Two</span>
                             <span class="company-name">Company Two</span>
                          </div>
                       </div>
                    </div>
                    
                    <ul class="tabs-nav">
                       <li><img src="/assets/content/customers/1.jpg" width="40" height="40" alt="" /><span></span></li>
                       <li><img src="/assets/content/customers/2.jpg" width="40" height="40" alt="" /><span></span></li>
                    </ul>
                </div>
                
                
                <!-- Twitter widget -->
                <div class="widget">
                    <h4 class="widget-title site-title">Twitter</h4><div class="underline"></div>
                    
                    <div class="twitter-widget">envato,4</div>
                    
                    <p>
                       <a href="#">Follow Us!</a>
                    </p>
                </div>
                
                
                <!-- Flickr widget -->
                <div class="widget">
                    <h4 class="widget-title site-title">Flickr</h4><div class="underline"></div>
                    
                    <!-- Get your id from http://idgettr.com/ -->
                    <div class="flickr-widget">10133335@N08,9,s</div>
                </div>
             </div> <!-- end .sidebar-inner -->
          </div> <!-- end .sidebar -->
       </div> <!-- .container -->
       
       <div class="section-shadow"></div>
       <div class="section-border"></div>
    </div> <!-- .section -->