 <!-- MAIN -->
    <div id="main" class="section section-border">
        <!-- Blog section -->
        <div class="container container-single boxed clearfix">
          <!-- Page title -->
          <div id="page-title" class="grid-12">
             <h1>我们的服务</h1>
             <p>金牌服务，品质保障</p>
             <div class="clear"></div>
          </div>
           
          <!-- Services -->
          <div class="grid-8 main-content">
             <div class="entry first">
                 
                <ul class="tabs-nav">
                    <li class="active"><a href="./services.html">Category One</a></li>
                    <li><a href="#">Category Two</a></li>
                    <li><a href="#">Category Three</a></li>
                </ul>
                
                <div class="one-half first highlight-1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                
                <div class="one-half">
                    <div class="media-wrapper">
                        <!-- r-slider -->
                        <div class="r-slider" data-prevnext="no">
                            <div class="r-slider-inner">
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/1.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/2.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/3.jpg" alt="" />
                                </div>
                                
                                <div class="r-slide">
                                    <img src="/assets/content/portfolio/420_260/4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="separator-1"></div>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                
                <div class="one-half first">
                    <ul class="services no-margin">
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Web Design</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Web Development</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Graphic Design</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Adobe Flash</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                    </ul>
                </div>
                
                <div class="one-half">
                    <ul class="services">
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Facebook Pages</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Search Engine Optimization</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                        <li class="with-image">
                            <div class="media-wrapper alignleft">
                                <img src="/assets/content/services/1.jpg" alt="" />
                            </div>
                            <a href="#">Branding</a>
                            <p>
                                Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet!
                            </p>
                        </li>
                    </ul>
                </div>
                
                <div class="clear"></div>
             </div>
          </div>
          
          <!-- Sidebar -->
          <div class="grid-4 sidebar">
             <div class="sidebar-inner">
                <!-- Testimonials widget -->
                <div class="widget first">
                    <h4 class="widget-title site-title">Testimonials</h4><div class="underline"></div>
                    
                    <div class="testimonials tabs">
                       <!-- testimonial 1 -->
                       <div class="tab">
                          <p>
                             Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
                          </p>
                          
                          <div class="author">
                             <span class="author-name">Customer One</span>
                             <span class="company-name">Company One</span>
                          </div>
                       </div>
                       
                       <!-- testimonial 2 -->
                       <div class="tab">
                          <p>
                             Donec a odio massa, eget malesuada libero!
                          </p>
                          
                          <div class="author">
                             <span class="author-name">Customer Two</span>
                             <span class="company-name">Company Two</span>
                          </div>
                       </div>
                    </div>
                    
                    <ul class="tabs-nav">
                       <li><img src="/assets/content/customers/1.jpg" width="40" height="40" alt="" /><span></span></li>
                       <li><img src="/assets/content/customers/2.jpg" width="40" height="40" alt="" /><span></span></li>
                    </ul>
                </div>
                
                
                <!-- Twitter widget -->
                <div class="widget">
                    <h4 class="widget-title site-title">Twitter</h4><div class="underline"></div>
                    
                    <div class="twitter-widget">envato,4</div>
                    
                    <p>
                       <a href="#">Follow Us!</a>
                    </p>
                </div>
                
                
                <!-- Flickr widget -->
                <div class="widget">
                    <h4 class="widget-title site-title">Flickr</h4><div class="underline"></div>
                    
                    <!-- Get your id from http://idgettr.com/ -->
                    <div class="flickr-widget">10133335@N08,9,s</div>
                </div>
             </div> <!-- end .sidebar-inner -->
          </div> <!-- end .sidebar -->
       </div> <!-- .container -->
       
       <div class="section-shadow"></div>
       <div class="section-border"></div>
    </div> <!-- .section -->