<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="active"><a class="ajax-link" href="/admin"><i class="icon-home"></i><span class="hidden-tablet"> Banner图维护</span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet"> 公司简介</span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet"> 关于我们</span></a></li>
						<li><a class="ajax-link" href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet"> 我们的服务</span></a></li>
						<li><a class="ajax-link" href="grid.html"><i class="icon-th"></i><span class="hidden-tablet"> 合作伙伴</span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet"> 检测中心</span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet"> 产品维护</span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet"> 设备维护</span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet">联系我们 </span></a></li>
						<li><a class="ajax-link" href="table.html"><i class="icon-edit"></i><span class="hidden-tablet">联系我们记录 </span></a></li>
					</ul>
					<label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> 异步加载菜单</label>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>