 <!-- Footer section -->
    <div id="footer" class="section">
        <div class="container">
            <div class="grid-3 footer-widget">
                <h4 class="widget-title site-title">Hello</h4><div class="underline"></div>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
                </p>
            </div>
            
            <div class="grid-3 footer-widget">
                <h4 class="widget-title site-title">Links</h4><div class="underline"></div>
                
                <ul class="nav-v">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    
                    <li>
                        <a href="#">About</a>
                    </li>
                    
                    <li>
                        <a href="#">Services</a>
                    </li>
                    
                    <li>
                        <a href="#">Works</a>
                    </li>
                    
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            
            <div class="grid-3 footer-widget">
                <h4 class="widget-title site-title">Twitter</h4><div class="underline"></div>
                
                <div class="twitter-widget">envato,4</div>
            </div>
            
            <div class="grid-3 footer-widget site-title">
                <h4 class="widget-title site-title">Flickr</h4><div class="underline"></div>
                
                <div class="flickr-widget">10133335@N08,8,s</div>
            </div>
        </div> <!-- .container -->
        
        <div class="section-shadow"></div>
        <div class="section-border"></div>
    </div> <!-- #footer -->

    
    <!-- Below footer section -->
    <div id="footer-btm" class="section">
        <div class="container boxed clearfix">
            <div class="grid-12">
                <p class="copyright-notice">
                    &copy; 2013. All rights reserved.
                </p>
                
                <ul class="nav-h">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    
                    <li>
                        <a href="#">关于</a>
                    </li>
                    
                    <li>
                        <a href="#">服务</a>
                    </li>
                    
                    <li>
                        <a href="#">工作</a>
                    </li>
                    
                    <li>
                        <a href="#">博客</a>
                    </li>
                    
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
<!-- Gallery overlay -->
<div id="dm3-gallery-overlay">
    <div id="content1" class="dm3-gallery-content">
        <div class="section">
            <div class="container">
                <div class="dm3-gallery-media grid-8">
                    <div class="media-wrapper">
                        <img src="/assets/content/portfolio/610_260/1.jpg" width="610" height="260" alt="" />
                    </div>
                </div>
                
                <div class="dm3-gallery-description grid-4">
                    <h1 class="site-title">Hello World哇哇哇哇哇 1!</h1>
                    <div class="underline"></div>
                    
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio.
                    </p>
                    
                    <p>
                        <a class="btn btn-large btn-icon" href="#">Purchase! <span><i>&raquo;</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="content2" class="dm3-gallery-content">
        <div class="section">
            <div class="container">
                <div class="dm3-gallery-media grid-8">
                    <div class="media-wrapper">
                        <img src="/assets/content/portfolio/610_260/2.jpg" width="610" height="260" alt="" />
                    </div>
                </div>
                
                <div class="dm3-gallery-description grid-4">
                    <h1 class="site-title">Hello World 2!</h1><div class="underline"></div>
                    
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio.
                    </p>
                    
                    <p>
                        <a class="btn btn-large btn-icon" href="#">Purchase! <span><i>&raquo;</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="content3" class="dm3-gallery-content">
        <div class="section">
            <div class="container">
                <div class="dm3-gallery-media grid-8">
                    <div class="media-wrapper">
                        <img src="/assets/content/portfolio/610_260/3.jpg" width="610" height="260" alt="" />
                    </div>
                </div>
                
                <div class="dm3-gallery-description grid-4">
                    <h1 class="site-title">Hello World 3!</h1><div class="underline"></div>
                    
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio.
                    </p>
                    
                    <p>
                        <a class="btn btn-large btn-icon" href="#">Purchase! <span><i>&raquo;</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="content4" class="dm3-gallery-content">
        <div class="section">
            <div class="container">
                <div class="dm3-gallery-media grid-8">
                    <div class="media-wrapper">
                        <img src="/assets/content/portfolio/610_260/4.jpg" width="610" height="260" alt="" />
                    </div>
                </div>
                
                <div class="dm3-gallery-description grid-4">
                    <h1 class="site-title">Hello World 4!</h1><div class="underline"></div>
                    
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio.
                    </p>
                    
                    <p>
                        <a class="btn btn-large btn-icon" href="#">Purchase! <span><i>&raquo;</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dm3-gallery-loader"></div>