 <!-- Header toolbar -->
    <div id="header-toolbar" style="display: none;">
        <div class="container clearfix">
            <div class="grid-12">
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                
                <ul class="social-icons">
                    <li><a class="icon-facebook" href="#" title="Facebook"><i></i></a></li>
                    <li><a class="icon-twitter" href="#" title="Twitter"><i></i></a></li>
                    <li><a class="icon-google-plus" href="#" title="Google+"><i></i></a></li>
                </ul>
                
                <div class="clear"></div>
            </div>
        </div>
        <div class="horizontal-shadow"></div>
    </div>
    
    
    <!-- Header -->
    <div id="header" class="section">
        <div class="container clearfix">
            <div class="grid-12">
                <a id="logo" href="#"><img height="21" src="/assets/img/logo.png" alt="" /></a>
                
                <div class="search-trigger" style="display: none;">
                    <a class="trigger-popover" href="#" title="搜索 &hellip;"></a>
                    
                    <div class="popover">
                        <div class="popover-inner">
                            <form class="form search-form" action="/" method="get" />
                                <p class="input-append">
                                    <input type="text" name="s" value="" placeholder="搜索 &hellip;" />
                                    <button class="btn white" type="submit">Go!</button>
                                </p>
                            </form>
                        </div>
                        
                        <div class="popover-pointer"></div>
                    </div>
                </div>
                
                <ul class="nav-h">
                    <li class="current-menu-item">
                        <a href="/">首页</a>
                    </li>
                    
                    <li>
                        <a href="/about">公司简介</a>
                        
                        <ul>
                            <li>
                                <a href="/about">关于我们</a>
                            </li>
                            <li>
                                <a href="/service">我们的服务</a>
                            </li>
                            <li>
                                <a href="/about">合作伙伴</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/lab">检测中心</a>
                    </li>
                    
                    <li>
                        <a href="/product">产品介绍</a>
                        
                        <ul>
                            <li><a href="#">面料展示</a></li>
                            <li><a href="#">针织品</a></li>
                            <li><a href="#">衬衫</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/device">设备介绍</a>
                        
                    </li>
                    
                    <li>
                        <a href="/contactus">联系我们</a>
                    </li>
                </ul>
                 <!-- 低分辨率是的导航显示 -->
                <select class="nav-select">
                    <option value="/" selected="selected" />首页
                    <optgroup label="公司简介">
                        <option value="/about" />关于我们
                        <option value="/service" />我们的服务
                        <option value="/about" />合作伙伴
                    </optgroup>
                    <option value="/lab" />检测中心
                    <optgroup label="产品介绍">
                        <option value="/product" />面料展示
                        <option value="/product" />针织品
                        <option value="/product" />衬衫
                    </optgroup>
                    <option value="/device" />设备介绍
                    <option value="/contactus" />联系我们
                </select>
            </div>
        </div>
    </div>